<h1>投稿一覧</h1>

<% @pictures.each do |pic| %>
  <div class = "content">
  <p>投稿者：<%= @user.find(pic.user_id) %></p>
  <h5>タイトル：<%= pic.title %></h5>
  <%= image_tag pic.content_picture.url %>
  <p>コメント：<%= pic.content %></p>
  </div>
<% end %>